@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&family=Poppins:wght@300&family=Righteous&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    background-color: #eff1e6;
}
header{
    position: fixed;
    background-color: #1D5859;
    width: 320px;
    height: 100vh;
}
#barre{
    width: 10px;
    position: fixed;
    top: 0;
    left: 320px;
    background: linear-gradient(to bottom, #E07469, #eff1e6);
    border-radius: 0px 0px 10px 10px;
}

.nav-toggler{
    position: fixed;
    z-index: 10;
    top:  20px;
    left: 15px;
    height: 25px;
    width: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}
.line{
    position: absolute;
    display: block;
    width: 50%;
    height: 2px;
    background-color: #eff1e6;
    transition: transform 0.3s ease-out, opacity 0.1s ease-out
}
.menu a{
    margin-top: 40px;
    margin-bottom: 40px;
}
.l1{
    transform: translateY(-10px);
}
.l3{
    transform: translateY(10px);
}
.nav-toggler.active .l1{
    transform: translateY(0px) rotate(135deg);
}
.nav-toggler.active .l2{
    opacity: 0;

}
.nav-toggler.active .l3{
    transform: translateY(0px) rotate(-135deg);
}

nav{
    position: fixed;
    width: 320px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #E07469;
    transform: translateX(-100%);
    transition: transform 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84);
} 
nav a {
    font-family: Poppins;
    color: #eff1e6;
    font-size: 20px;
    display: block;
    margin: 10px 0;
    text-decoration: none;
}
nav.active{
    transform: translateX(0);
}
.menu{
    width: 50%;
}
.info-wrap{
    display: flex;
    padding: 40px;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

}

.intro{
    font-family: Kanit;
    color: #058F91;
    font-weight: 400;
    font-size: 20px;
    margin-top: 30px;
}
.sous-intro{
    font-family: Poppins;
    color: #eff1e6;
    font-size: 17px;
    margin-top: -7px;
    margin-bottom: 50px;
}
.sous-intro a{
    text-decoration: none;
    color: #eff1e6;
    border-bottom: 1px solid #eff1e6;
}
/* .bulle{
    position: fixed;
    top: 50px;
    left: 288px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #E07469;
    outline-offset: 0px;
    outline: 0px solid #E07469;
    transition: .3s;
}
.bulle1{
    position: fixed;
    top: 300px;
    left: 288px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #E07469;
    outline-offset: 0px;
    outline: 0px solid #F6574F;
}
.bulle2{
    position: fixed;
    top: 550px;
    left: 288px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #E07469;
    outline-offset: 0px;
    outline: 0px solid #F6574F;
}
.bulle3{
    position: fixed;
    top: 800px;
    left: 288px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #E07469;
    outline-offset: 0px;
    outline: 0px solid #E07469;
} */
.content{
    display: flex;
    margin-left: 320px;
    width: calc(100% - 320px);
    flex-wrap: wrap;
}
.home{
    display: flex;
    align-items: center;
    padding: 0%;
    margin: 0%;
}
.home-left{
    width: 40%;
    text-align: left;
    padding: 100px 30px 20px 60px;
    font-family: Poppins;
    font-size: 18px;
    color: #E07469;
    font-weight: 200;

}
.home-name h1{
    font-family: Righteous;
    font-size: 50px;
    line-height: 70px;
    color: #058F91;
}
.home-right{
    height:100vh;
    width: 60%;
}
.home-right img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.school{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #058F91;
    font-family: Poppins;
    color: #eff1e6;
    width: 100%;
}

.school h2, h3{
    font-family: Kanit;
    color: #1D5859;
    font-size: 25px;
}

.school p{
    font-family: Kanit;
    font-size: 20px;
}
.greta{
    width: 40%;
    user-select: none;
    color: #eff1e6cb;
    transition: .3s;
}
.greta:hover{
    color: #eff1e6;
}
.greta:before{
    content: "2023";
    position: relative;
    top: 60px;
    left: -150px;
    font-size: 20px;
    transition: .3s;
}

.greta:hover::before{
    left: -160px;
    transition: .3s;
}

.auto-formation{
    width: 40%;
    user-select: none;
    color: #eff1e6cb;
    transition: .3s;
}
.auto-formation:hover{
    color: #eff1e6;
    transition: .3s;
}
.auto-formation:before{
    content: "2022";
    position: relative;
    top: 60px;
    left: -150px;
    font-size: 20px;
    transition: .3s;
}

.auto-formation:hover::before{
    left: -160px;
    transition: .3s;
}
.mmi{
    width: 40%;
    user-select: none;
    transition: .3s;
    color: #eff1e6cb;
}
.mmi:hover{
    transition: .3s;
    color: #eff1e6;
}
.mmi:before{
    content: "2022";
    position: relative;
    top: 60px;
    left: -150px;
    font-size: 20px;
    transition: .3s;
}
.mmi:hover::before{
    left: -160px;
    transition: .3s;
}

li{
    list-style: none;
}
#skill{
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: Righteous;
    font-size: 30px;
    border-bottom: 1px solid  #109da0;
}
.skills{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #058F91;
    font-family: Poppins;
    color: #eff1e6;
    width: 100%;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 20px 5% 5% 5%;
}
.skills p{
    font-family: Kanit;
    font-size: 25px
}
.skills li{
margin: 20px;
}
.box{
    position: relative;
    background-color: #058F91;
    margin-left: 2%;
    margin-right: 2%;
}
svg{
    height: 180px;
    width: 180px;
}
.left svg circle{
    fill: none;
    stroke: #E07469;
    stroke-width: 21px;
    transform: translate(20px, 20px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    stroke-linecap: round;
}
.left svg circle:nth-child(1){
    stroke-width: 17px;
    stroke: #0c4b4d;
    stroke-dashoffset: 0;
}
.left svg circle:nth-child(2){
    animation: circle1 2s forwards;
}
svg circle{
    fill: none;
    stroke: #E07469;
    stroke-width: 21px;
    transform: translate(20px, 20px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    stroke-linecap: round;
}
svg circle:nth-child(1){
    stroke-width: 17px;
    stroke: #0c4b4d;
    stroke-dashoffset: 0;
}
svg circle:nth-child(2){
    animation: circle 2s forwards;
}
@keyframes circle1{
    to{
        stroke-dashoffset: 0;
    }
}
@keyframes circle{
    to{
        stroke-dashoffset: 110;
    }
}
.box span{
    color: #eff1e6;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Kanit;
    font-size: 21px;
}
.box h2{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 100%;
    left: 50%;
    font-size: 1.2em;
}   

#form-dipl{
    font-family: Righteous;
    font-size: 30px;
    border-bottom: 1px solid  #109da0;
}
.lang{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
footer{
    display: flex;
    margin-left: 320px;
    width: calc(100% - 320px);
    background-color: #058F91;
    padding-top: 200px;
}
.download-resume{
    justify-content: center;
}
.download-resume img{
    padding: 20px;
    width: 50px;
}
.more{
    display: flex;
    margin: 20px 0px 20px 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.form{
    background-color: #1D5859;
    padding: 50px 25px 50px 25px;
    text-align: center;
    margin:  50px 4% 100px 50px;
    width: 40%;
}
.form input, textarea{
    margin: 30px 10px 50px 10px;
    width: 90%;
    border: none;
    border-bottom: 1px solid #eff1e6;
    background: none;
    outline: none;
    color: #eff1e6;
    height: 20px;
    font-size: 16px;
}
input::placeholder{
    font-family: Kanit;
    color: #eff1e6;
}
textarea{
    height: 150px;
}
textarea::placeholder{
    font-family: Kanit;
    color: #eff1e6;
}
button{
    background-color: #058F91;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.more h2{
    font-family: Kanit;
    color: #0c4b4d;
    font-size: 25px;
}
.more{
    font-family: Poppins;
    color: #eff1e6;}
